<div class="col-lg-12" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="card">
        <div class="header">
            <h2><strong>医生信息</strong></h2>
        </div>
        <div  class="body">

            <table  class="table table-bordered table-striped table-hover dataTable js-exportable">
                <thead>
                <tr>
                    <th>工号</th>
                    <th>用户名</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>电话</th>
                    <th>邮箱</th>
                    <th>操作</th>
                </tr>
                </thead>
                <div class="container-fluid">
                    <tbody th:each="doctor:${docPageInfo.list}">
                    <tr>
                        <td th:text="${doctor.doctorNumber}"></td>
                        <td th:text="${doctor.name}"></td>
                        <td th:if="${doctor.gender}==0">男</td>
                        <td th:if="${doctor.gender}==1">女</td>
                        <td th:text="${doctor.age}+'岁'"></td>
                        <td th:text="${doctor.tel}"></td>
                        <td th:text="${doctor.email}"></td>
                        <td>
                            <button class="btn btn-default btn-simple btn-round waves-effect">修改</button>
                            <button class="btn btn-danger btn-simple btn-round waves-effect">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </div>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="body">
            <ul class="pagination pagination-primary m-b-0">
                <li class="page-item" th:if="${docPageInfo.hasPreviousPage == true}">
                    <a class="page-link" href="javascript:void(0);" th:onclick="|getStuPage(${docPageInfo.prePage})|">
                        <i class="zmdi zmdi-arrow-left"></i></a></li>
                <div th:each="nav:${docPageInfo.navigatepageNums}">
                    <li class="page-item "  th:if="${nav != docPageInfo.pageNum}">
                        <a class="page-link" href="javascript:void(0);" th:text="${nav}" th:onclick="|getStuPage(${nav})|" ></a></li>
                    <li class="page-item active"  th:if="${nav == docPageInfo.pageNum}">
                        <a class="page-link" href="javascript:void(0);" th:text="${nav}" th:onclick="|getStuPage(${nav})|" ></a></li>
                </div>

                <li class="page-item" th:if="${docPageInfo.hasNextPage == true}">
                    <a class="page-link" href="javascript:void(0);" th:onclick="|getStuPage(${docPageInfo.nextPage})|"><i class="zmdi zmdi-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>