<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:bd=http://www.baidu.com/2010/xbdml>
<head lang="en">
    <meta charset="UTF-8">
    <title>心理测试</title>


    <link href="http://serrinawss.java.jspee.cn:80/css/in3.css" rel="stylesheet" type="text/css"/>


    <script type="text/javascript" src="http://serrinawss.java.jspee.cn:80/css/jquery-3.4.1.js"></script>


</head>


<body >



<div id="ct">
    <div id="cttop">
        <p></p>
        <br/><br/>
    </div>
    <div id="ct1">
        <input class="button"
               type="button"

               id="xx1"/><input class="button"
                                type="button"

                                id="xx2" />
        <input class="button"
               type="button"

               id="xx3" /><input class="button"
                                 type="button"

                                 id="xx4" />
        <input class="button"
               type="button"

               id="xx5" /><input class="button"
                                 type="button"

                                 id="xx6" />
        <input class="button"
               type="button"

               id="xx7" />
    </div>

    <div id="ct2"><p >北斗七星在宇宙天边，闪烁着自由神秘的光芒，那里有人们匆忙生活后悠闲的心灵寄托，并且向远方的太空无限延伸着自己的灵感与灵动，偏好与另类，
        点击上图的七颗星，回答7个有关于你的问题，如果你能够回答完毕， 我们将为你开启属于你本次旅程的最佳航线。。。。。。</p></div>
    <div id="weh"><p>依次点击上图的北斗七星中的每一颗星星，然后看问题，选择下方的问题给出的答案，开启你的小时光旅程...</p></div>
    <div id="xxwd">
        <form  id="form1" method="post" action="">
            <div id="ct3"> <form id="fm1">


                <p>1.最近，如果自身安全的情况下，你更加喜欢一个人独处吗？相比都市的繁华，你更加喜欢幽静的地方吗？</p>

                <p>

                    <input type="radio" name="gt1" value="1" /> 喜欢幽静的地方</p>


                <p><input type="radio"  name="gt1" value="3" />  喜欢独处，但还是喜欢繁华的都市</p>


                <p> <input type="radio" name="gt1" value="5" />喜欢独处，也喜欢幽静的地方</p>

                <p> <input type="radio" name="gt1" value="10" />不喜欢独处，也不喜欢幽静的地方</p>

            </form>

            </div><div id="ct4">
            <form id="fm2" ><p>2.最近这段时间，，给你选择，你会喜欢哪种感觉的乐曲？</p>

                <p>

                    <input type="radio" name="gt2" value="1" > 忧伤</p>

                <p><input type="radio"  name="gt2" value="3" > 欢快</p>

                <p> <input type="radio" name="gt2" value="5" >抒情，浪漫</p>

                <p> <input type="radio" name="gt2" value="10" >朋克，摇滚，另类妖魔</p>



            </form></div><div id="ct5">
            <form id="fm3" ><p>3.如果让你在以下几个图中选择，你会选择哪个地方认为你最向往？</p>

                <p>

                    <input type="radio" name="gt3" value="1" > 大海</p><p><img src="http://serrinawss.java.jspee.cn:80/pic/dahai01.jpg" width="200px" height="160px"></p>

                <p><input type="radio"  name="gt3" value="3" > 悬崖</p><p><img src="http://serrinawss.java.jspee.cn:80/pic/xuanya02.jpg" width="200px" height="160px"></p>

                <p> <input type="radio" name="gt3" value="5" >都市夜景摩天大厦</p><p><img src="http://serrinawss.java.jspee.cn:80/pic/dalou03.jpg" width="200px" height="160px"></p>

                <p> <input type="radio" name="gt3" value="10" >雪景</p> <p><img src="http://serrinawss.java.jspee.cn:80/pic/xuejing04.jpg" width="200px" height="160px"></p>



            </form></div>

            <div id="ct6">
                <form id="fm4" ><p>4.最近，
                    你觉得每当夜幕降临，哪种想象，哪种画面，哪种场景最能吸引你？让你最喜欢对这个图片产生联想，把相应的图片挑选出来...</p>

                    <p>

                        <input type="radio" name="gt4" value="1" > </p> <p><img src="http://serrinawss.java.jspee.cn:80/pic/st01.jpg" width="200px" height="160px"></p>

                    <p><input type="radio" name="gt4"  value="3" > </p><p><img src="http://serrinawss.java.jspee.cn:80/pic/st02.jpg" width="200px" height="160px"></p>

                    <p> <input type="radio" name="gt4" value="5"></p><p><img src="http://serrinawss.java.jspee.cn:80/pic/st03.jpg" width="200px" height="160px"></p>

                    <p> <input type="radio" name="gt4" value="10"></p> <p><img src="http://serrinawss.java.jspee.cn:80/pic/st04.jpg" width="200px" height="160px"></p>



                </form></div> <div id="ct7">
            <form id="fm5" ><p>5.你会对下列哪种话题元素比较感兴趣，请选择你最感兴趣的点</p>

                <p>

                    <input type="radio" name="gt5"  value="1" > 穿越题材，越混乱越好，我就喜欢打破一切时间的顺序，错综中体现哲学的荒谬空无感或者人内心渴望解脱现实与真实</p>

                <p><input type="radio"  name="gt5" value="3" >异能人，我渴望内心成为一个具有超能力能力的人物，阴暗，莫测，像闪电一样穿梭在黑夜的城市中，可以搞破坏或者和更邪恶的势力较量</p>

                <p> <input type="radio" name="gt5" value="5" >还是穿越题材，并非越混乱越好，但可以接近普通人无法触及的深邃的让人窒息的内幕和隐情</p>

                <p> <input type="radio" name="gt5" value="7" >世界毁灭，某种原因造成了世界毁灭，或者外星世界十分的不可思议</p>
                <p> <input type="radio" name="gt5" value="10">史前文明的复苏，无法理解的史前文明的复苏，让人接近那些古老的世界，比如金字塔文明等......</p>


            </form></div>
            <div id="ct8">
                <form id="fm6" ><p>6.你会对下列那些更加着迷，或者更喜欢哪种图片所带给你的感觉，所描述的景色或者文化，更加能吸引你？</p>

                    <p>

                        <input type="radio" name="gt6" value="1" > </p><p><img src="http://serrinawss.java.jspee.cn:80/pic/wt01.jpg" width="250px" height="160px"></p>

                    <p><input type="radio"  name="gt6" value="3" ></p><p><img src="http://serrinawss.java.jspee.cn:80/pic/wt02.jpg" width="250px" height="160px"></p>

                    <p> <input type="radio" name="gt6" value="5" ></p><p><img src="http://serrinawss.java.jspee.cn:80/pic/wt03.jpg" width="250px" height="160px"></p>

                    <p> <input type="radio" name="gt6" value="7" ></p><p><img src="http://serrinawss.java.jspee.cn:80/pic/wt04.jpg" width="250px" height="160px"></p>
                    <p> <input type="radio" name="gt6" value="10"></p><p><img src="http://serrinawss.java.jspee.cn:80/pic/wt05.jpg" width="250px" height="160px"></p>
                    </form></div>
            <div id="ct9">
                <form id="fm7" ><p>7.你对下面哪个节日更感兴趣？</p>

                    <p><input type="radio"  name="gt7" value="1" />情人节</p>

                    <p> <input type="radio"  name="gt7" value="3" />春节</p>

                    <p> <input type="radio"  name="gt7" value="5">清明节</p>

                    <p> <input type="radio" name="gt7" value="7" />儿童节</p>
                    <p> <input type="radio"  name="gt7" value="10"/>万圣节</p>

                </form></div>
        </form></div><input type="button" id="xxyc" value="提交" class="submit"/>
    <input type="button" id="xxcs" value="重新测试"/>
</div>
<script>
    $(document).ready(function(){

        start();
        wprt();




    });


    var py;

    var h;
    var h2;
    var le;
    var pm;
    function wprt(){


        var hua="星林悠小时光——开启了你的星际神游的特殊旅程......";





        var i=0;

        setInterval(function(){

            if(i<hua.length){



                i++;

                $("#cttop").find("p").append(hua[i-1]);

            }

        },300);





    }


    function start(){



        py = $("#ct2").find('p').offset().top;

        pm=$("#ct2").offset().top;


        h =$("#ct2").find('p').height();
        h2=$("#ct2").height();
        le=$("#ct2").find('p').offset().left;
        setInterval(function(){



            py--;

            $("#ct2").find('p').offset({"left":le,"top":py});

            if(py+h<pm){
                py=pm+h2;



            }

            $("#ct2").find('p').offset({"left":le,"top":py});
        },10);




    }




    $("#xx1").click(function(){

        $("#ct3").css("display","block");

        for(var i=3;i<10;i++){
            if(i!=3){$("#ct"+i).css("display","none");

            }

        }

    });
    $("#xx2").click(function(){

        $("#ct4").css("display","block");

        for(var i=3;i<10;i++){
            if(i!=4){$("#ct"+i).css("display","none");

            }

        }

    });

    $("#xx3").click(function(){

        $("#ct5").css("display","block");

        for(var i=3;i<10;i++){
            if(i!=5){$("#ct"+i).css("display","none");

            }

        }

    });$("#xx4").click(function(){

        $("#ct6").css("display","block");

        for(var i=3;i<10;i++){
            if(i!=6){$("#ct"+i).css("display","none");

            }

        }

    });

    $("#xx5").click(function(){

        $("#ct7").css("display","block");

        for(var i=3;i<10;i++){
            if(i!=7){$("#ct"+i).css("display","none");

            }

        }});$("#xx6").click(function(){

        $("#ct8").css("display","block");

        for(var i=3;i<10;i++){
            if(i!=8){$("#ct"+i).css("display","none");

            }

        }});$("#xx7").click(function(){

        $("#ct9").css("display","block");

        for(var i=3;i<10;i++){
            if(i!=9){$("#ct"+i).css("display","none");

            }

        }});
    $("#xx5").click(function(){

        $("#ct7").css("display","block");

        for(var i=3;i<10;i++){
            if(i!=7){$("#ct"+i).css("display","none");

            }

        }});$("#xx6").click(function(){

        $("#ct8").css("display","block");

        for(var i=3;i<10;i++){
            if(i!=8){$("#ct"+i).css("display","none");

            }

        }});$("#xx7").click(function(){

        $("#ct9").css("display","block");

        for(var i=3;i<10;i++){
            if(i!=9){$("#ct"+i).css("display","none");

            }

        }});


    $("#xxyc").click(function(){
        // alert("1");

        var vl;
        var vn=new Array();
        var vs=new Array();

        var data=new Array();
        var arrayst=new Array();

        var vname;
        var key;
        var value;
        var s=new Array();




        for(var i=1;i<=7;i++){
            vname="gt"+i;

            vl=$('input[name="'+vname+'"]:checked').val();

            vs[i-1]=vl;


            if(vl==null){

                alert("还有星星没有点。。不要刷新页面，继续点完所有的七颗星！")


                return false;
            }else{





                key=vname;
                value=vl;
                s[i-1]={"key":key,
                    "value":value};


                // var data=new Array();
                // for(var i=0;i<s.length;i++){
                //alert(data);
                // var data2="1xy2z";
            }}
        for(var i=0;i<7;i++) {

            data[i] =s[i].value;
            console.log(data[i])
        }

        var jsonData = JSON.stringify(data); //根据数据生成json数据
        console.log(jsonData);
            $.ajax({
                url: "/mhealth/stu/compute",
                data: jsonData,
                contentType: "application/json;charset=UTF-8", //发送数据的格式
                type: "POST",
                dataType: "json",
                success: function(obj) {
                    console.log(obj);
                    if (obj !== 1) {
                        window.location.href="/mhealth/stu/toPsychoTestV2?id="+obj;

                    } else {

                        alert("呵呵，好像星际的旅途并没有想象中那么顺利，重新启航试一试;");
                    }

                }
            });

    })
    $("#xxcs").click(function(){

        window.location.href="/mhealth/stu/toPsychoTest";





    });


    function nx(ob){



        var vao=$(ob).parent().parent().attr("id");
        alert(vao);

        var vas;

        for(var i=1;i<=7;i++){


            if (vao==("shxl"+i)) {
                $("#shxl"+i).css("display","none");
                vas=i+1;




                $("#shxl"+vas).css("display","block");


                break;

            }



        } }

    function prev(ob){



        var vao=$(ob).parent().parent().attr("id");
        alert(vao);

        var vas;

        for(var i=1;i<=7;i++){


            if (vao==("shxl"+i)) {
                $("#shxl"+i).css("display","none");
                vas=i-1;
                alert(vas);


                $("#shxl"+vas).css("display","block");


                break;

            }



        } }
</script>
</body>
</html>