


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>心理测试</title>


    <link href="http://serrinawss.java.jspee.cn:80/css/in4.css" rel="stylesheet" type="text/css"/>

    <link href="http://serrinawss.java.jspee.cn:80/css/c12.css" rel="stylesheet" type="text/css"/>

</head>


<body >


<script type="text/javascript" src="http://serrinawss.java.jspee.cn:80/css/jquery-3.4.1.js"></script>
<header id="top">
    <div class="top">


    </div>
</header>

<div id="ct">
    <div id="cttop"><p></p>
        漫漫旅程中......<br/><br/>

    </div>
    <div id="ct1">
        <input class="button"
               type="button"

               id="xx1" /><input class="button"
                                 type="button"

                                 id="xx2" />
        <input class="button"
               type="button"

               id="xx3" /><input class="button"
                                 type="button"

                                 id="xx4" />
        <input class="button"
               type="button"

               id="xx5" /><input class="button"
                                 type="button"

                                 id="xx6" />
        <input class="button"
               type="button"

               id="xx7" />
    </div><p class="xxcs"><a href="/stu/toPsychoTest">重新测试</a></p>
    <div id="shxl"><input type="button" class="ybt" value="查案我的全部心理分析"/><p><input type="button" class="bsxu"  name="buttonnx" value="第一站星之旅 "/></p><div id="shxl0">你喜欢自己一个人，便于思考，你最近的状态或许你自己没有照过镜子观察过，也许除了有黑眼圈，你有时候的深沉内秀让你的感觉超凡脱俗，帅气又有着隐君子的感觉，建议目前喜欢黑夜静谧风格的你可以唱歌，找人谈心，或者远离那些你烦恼的问题，不建议面对太复杂太难的现实问题，建议旅游，拉风，唱歌，找人一起high，建议看黑色幽默，多看外国电影，电视剧。<br/>很多时候，人的惆怅是婉转，曲折的，很多时候它也是唯美的，艺术的，以至于人的愁思千百转，世事苍凉千百度，曲艺悠扬，似乎阴柔的调子延伸着，从出生到黑暗意义上的死亡，其实一直延伸到不死的境界，我们始终无法摆脱哪种愁绪的艺术感所带来的致命吸引力。
        这首《creep》有另类人生非主流的冷沧感，也许你会很有感触......<br/>近期，你是这么的超越于现代意识，喜欢科技与新潮，时代与自由的人。你把事业看的比较重要，有的时候甚至愿意为了事业的精彩还有它的一帆风顺，你选择放弃了许多亲近大自然的时光。
        对于你来说，体现聪明才智，以掩盖住内心的某种难以表达的不够自信很重要，或者你觉得忙碌着本身是一种精彩，很多时候，你的精力超凡，但是又飘渺充满奇特的幻想，对于未来，你很难把握，你觉得未来一方面最好是平静又顺利的，但是同时你又希望这个未来是精彩而又充满各种神秘符号的，你觉得这个世界是精彩的对你很重要，你相信环境，也觉得环境的未知与无限变化的不定数会让这个世界充满神奇和科技的概念。你相信聪明才智，还有环境，还有那些兴趣给自己每天带来的精神抖擞的冲击和洗礼，相信只要不是很懒惰，你在职场是能发挥出一定的能力和天赋的。你的致命敌人是害怕不够平等与公平的现象会让这个世界倒退，周围的人心变得不再充满天真和尊重自由的善良的行为语言，让你敏感以至于自甘堕落。<br/>回忆，幻想，同时又想远离某种现实的状态，可以说你现在的状态非常古远又充满神奇的感觉，你有着一种从现实中寻找超现实的心情与愿望，你在通往某个古老的传说或者某个谜题的答案，你有着深邃的神奇的想法和追求，并且愿意和极为少数的朋友一起分享。
        你想拥有魔法和超能力，其实是生活中很多时候不尽如人意的体现，或者你很无奈，想回避一些光明世界的失败感与无奈，在阴暗的角落寻求自己智力和潜意识的深度发展与探寻，你常常拒绝竞争，因为这对你来讲是比较痛苦的，你的智力与潜意识更愿意朝着自身隐秘和世界某个角落不为人知的方向和事物去发展和探究，你是个隐秘型进行自我活动与自我探寻的人，不喜欢过分的招摇自己真实的一面，哪怕在智慧上，生活中大部分并不了解你的研究与你的潜力，也许常常他们会被你外表与眼神中的美好天真或者时尚边缘化，或者世俗不入上流所掩盖，让别人觉得你像小孩一样不过是个幼稚或者年轻尚不成熟，或者大众化并不超群的人物，其实你有自己超群的洞察力，研究能力，第六感，第七感，至第n感，多维空间和神界交流，古远有耐心，甚至能深入魔界，所以你是个非同一般的人。<br/>你是个愿意大胆想象，突破寻常的人，你喜欢追寻事情的前因后果，做事喜欢寻求逻辑性，但是又不刻意拘泥于现实带来的假象和种种虚假的表象。你不喜欢盖棺定论，或许别人眼里的许多天才在你看来都是可以靠自己的分析和假设来寻求突破的，追溯，突破，你觉得科学本身会带有很多谦虚的成分，全面思考对于你来说很重要，看事物看事情你不喜欢追求瞬间的结论与盲目的结论，你喜欢长期的分析与纵览，以及深入地探寻，你喜欢好玩儿的探险，你不认为追求智慧需要过分的拘泥，你有时甚至不愿意狭隘定义智慧和他人，你相信潜力学说，很多在别人看来漫不经心的小事在你看来值得研究，或者会有惊喜发现和深奥的价值，许多别人看来不聪明的人，你却觉得和他们某些时刻很相似，你们似乎都有某种惊人的智慧，但是表现在外却是大智若愚的，你感兴趣的是深藏在事物表象之下的内因学说。在上学时候，你常常不喜欢真的发自内心的去在意名次和学习成绩，你更关心的是自己长期的研究和对某个问题的追求与探寻。
        <br/>

    </div><div id="sh1txt"><br/>你喜欢自己一个人，便于思考，你最近的状态或许你自己没有照过镜子观察过，也许除了有黑眼圈，你有时候的深沉内秀让你的感觉超凡脱俗，帅气又有着隐君子的感觉，建议目前喜欢黑夜静谧风格的你可以唱歌，找人谈心，或者远离那些你烦恼的问题，不建议面对太复杂太难的现实问题，建议旅游，拉风，唱歌，找人一起high，建议看黑色幽默，多看外国电影，电视剧。<br/><br/>现在来看篇符合你心境的短篇小说吧：<br/>                                   《卡尔维诺：近视眼的故事》
        艾米卡.卡拉格还很年轻，也不缺钱，没有物质方面或者非物质方面不切实际的野心，所以看上去没什么能阻止他享受生活。但是这些天来，他慢慢有种感觉，那就是他有点对生活提不起兴趣了。比如，以前他会贪婪地注视大街上的姑娘，但现在她们激不起他的任何反应，也许现在他还会本能地抬起眼睛看一眼，但马上又无动于衷的垂下，就象好像她们只是匆匆经过身边的一阵风。有一阵子，陌生的城市会让他振奋――他是商人，经常旅行――现在他只感到恼火和困惑、找不到方向。过去他独自生活，每个晚上经常去电影院，不管放什么电影，他都乐意看。一个人要是老是看电影的话，其实就象在看一部特别长的电影，一集一集，没有尽头：他认识所有的演员，甚至包括特型演员和群众演员，每次都把他们辨认出来，本身就挺好玩的。现在可好，他再回到电影院，所有那些熟悉的脸都变得乏味和呆板、缺乏差别；他厌倦了。

        　　最终，他找到原因了。原来他近视了。眼科医生为他配了付眼镜。从此他的生活改变了，变得比以前有趣一百倍。

        　　每次他戴上眼镜，心里总是有点发抖的。比如他不戴眼镜在电车站的时候，看到周围的一切、人和物都是那样模糊、平庸、陈腐不堪，他就感到非常悲观，仿佛自己正身处一个不断崩溃的世界中，需要摸索前进，身边是快完全腐烂的物体和色彩。但是，当他戴上眼镜，辨认开来的电车的号码时，一切都变了：哪怕是路灯那样最平常的东西都拥有了数不清的细节，每一条线条都清清楚楚，每张陌生人的脸上都出现了各种小标志，没刮尽的胡髭、小脓疱、一怒一颦等等，这些以前从来都看不到；他能认出衣服是什么料子做的，用什么方式织的，衣边上哪道缝破了。观察成了一种乐趣、一道风景；乐趣并不来自特定的目标，单单是“看”这种行为本身就足够了。所以艾米卡.卡拉格会忘了留心电车号码，错过了一班又一班，甚至上错了车。他看到的东西太多了，到最后就象什么也没看到一样。渐渐的，他有点习惯了，开始从头学起哪些是不必看的，哪些是必须看的。

        　　没有眼镜的时候，他在大街上遇到的妇女，对他来说只是些模糊且难以看清的影子，而现在他能分明地看到她们衣服里面虚与实部分的互动，分辨她们皮肤的细嫩，感受她们目光中的友好，他好象不仅仅是在看她们了，而是实际上已经拥有她们了。他会不戴眼镜地闲逛（他并不成天戴着眼镜，以免非必要的用眼，看远处的时候，他才戴），然后，突然一个亮丽的轮廓出现在前方的人行道上。就象本能一样，艾米卡会迅速地从口袋里取出眼镜，架在鼻梁上。这种无选择的猎艳心理经常受到惩罚：那个女人很可能长得象个女巫。因此，艾米卡.卡拉格变得更小心了。如果一个走近的女人，在服装颜色和走路姿态上都无可取之处，粗俗低贱，根本不值得考虑，他就不会戴上眼镜；但是稍后，等她们擦身而过的时候，他突然意识到，她身上恰恰有着某种强烈吸引他的东西，也许老天知道那是什么，这时他好象感觉到她瞥了他一眼，似乎是故意的，可能他一出现，她就注意他了，只是他没意识到罢了。现在一切都晚了，她消失在街角、她上了公共汽车、她远远地越过了交通信号灯，下一次他就认不出她了。就这样，通过他对眼镜的需要，他慢慢的学会如何生活。

        　　眼镜为他打开的最新奇的世界还是在夜晚。以前被黑暗和各色光晕笼罩的城市，现在表现出了精确的方位、深浅和远近，以前模糊一团的氖光灯现在可以按字母拼出来。夜晚的美妙还在于白天被透镜消灭的模糊，现在依然保留着：艾米卡.卡拉格有时想要戴上眼镜，然后才意识到他已经戴上了。满足的心理永远赶不上对未知的贪婪；黑暗是种无底的腐殖质，他永远不会倦于挖掘。他走上大街，登上镶着黄窗户的楼房，来到屋顶的平台，抬头看着繁星密布的天空：他发现星星并非象鸡蛋壳上的破洞那样散布在天幕，而是发出尖利的光束打开它们周围无限的空间。

        　　眼镜的使用激励他去关注外部现实，同时也使他对自身产生了疑问。艾米卡.卡拉格并不很关心他自己；但有时最低调的人也会苦苦思考自己生存的方式。从无镜一族变为有镜一族看似无关紧要，实则是个巨大的飞跃。比如说，某个不认识你的人描述你，首先会说“他戴眼镜”；这个两个星期前还根本与你无关的小小的零部件，现在反倒成了你的主要特征，用来鉴别你的存在。对艾米卡来说，突然变成别人嘴里的“四眼”可真有点接受不了，如果你能接受，那你就有点傻。不过这还不是问题所在：一旦你开始怀疑周围的每件东西都是出于纯粹的偶然，一经变化，你的生命就将完全不同，然后它就不再重要，沿着这条思路想下去，你就会想你存在与否根本毫无差别，从这个想法到绝望仅仅是小小的一步。因此艾米卡挑选镜架的时候，本能的选了一付精细朴素的，仅仅是一对银色的薄薄的夹片，一头固定一个裸片，中间鼻梁上是一根金属条。但只过了一会，他就高兴不起来了：如果他不经意地瞥了一眼镜子里自己戴眼镜的形象，他就对自己的脸产生一种剧烈的厌恶，仿佛这不是他的脸，而是典型的某类其他人的脸。正是这些镜片，这些精巧、轻盈、阴性的镜片，使他看上去比任何时候都更象一个“四眼”，这种人的生命中除了架了一付眼镜，再也没有其他内容了，所以你会不再注意眼镜后面的本人了。眼镜已经变成了他们体貌的一部分，溶化进了他们的面容，甚至已经找不到眼镜和脸上其他部分之间的天然差别了，一个工业产品和一个大自然的产物就这样融合在一起。

        　　他不喜欢这付眼镜，所以不久眼镜就摔破了。他又买了一付。这次他来了个逆向选择：他挑了一付足有一英寸厚的黑框架，装铰链的地方从颧骨上突出来，就象马的眼罩，架脚重得足以压弯耳朵。眼镜遮住了他半个脸，简直是一种变相的面具，但在这样的眼镜后面，他才感觉找回了自己：现在毫无疑问，眼镜是眼镜，他是他，两者泾渭分明；而且，他只是偶尔戴眼镜，那么没有戴眼镜的时候，他就是一个彻底不同的人。想到这里，他又一次变得开心了。

        　　在这期间，他碰巧去v城出差。v城是艾米卡.卡拉格的出生地，在那里他度过了他所有的少年时光。但是十年前，他离开了那里；此后，每次回去停留的时间变得越来越短，次数也越来越少；距离他上一次回去，已经过去好几年了。你知道离开一个你长久生活的地方是怎么一回事吗？隔了很长时间再回去，你会感到陌生；那些人行道、旧相识、咖啡馆里的聊天要么依然让你激动，要么让你无动于衷；要么你依然为它们痴迷，要么你已不再能加入它们了；一想到故地重游，就会有精神压力，你必须驱散它们。所以，艾米卡渐渐地就不再想回v城了，而且就算有这样的机会，他也会放过它们；到后来，他实际上是在刻意回避了。不过，最近他对现在所居的城市产生了负面评价，好象已经不是出于某些具体的事情，而是一种宿命般的悲观笼罩了他，他后来才意识到这是和他近视的加深联系在一起的。既然现在，眼镜使他重新认识了自己，那么去v城的机会一出现，他立刻就抓住了它，他要去那里。

        　　v城和他前几次去时已完全不同了。这倒不是因为它外观上的变化。说实话，这个城市确实改变了很多，新建筑无处不在，商店、咖啡馆和电影院都和以前不一样，年轻的一代看上去都象陌生人，交通比以前拥挤了一倍。但是，所有这些新变化，只是突出那些旧东西，使它们更容易辨认了。简单说，艾米卡.卡拉格第一次设法用他童年的眼光来打量这个城市，好象他才离开了一天一样。由于戴了眼镜，他看见了许多无用的细节，比如说某一扇窗户、某一段扶手；有时，他甚至是有意将它们从周围的环境中区分出来，而在过去他只是看到它们而已。更不用说人们的面孔了，一个卖报纸的小贩，一个律师，一些人变老了，另一些看上去和以前一样。艾米卡.卡拉格不再有直系亲属在v城了，他的小圈子里的密友也早就散了。但他确实有无穷的相识；在一个这么小的城市里这是必然的――彷佛他还生活在这个城市似的――实际上，大家都彼此认识，至少见过面。现在，这里的人口也大大膨胀了――就象北方其他不错的城市一样――南方人或多或少在涌入，艾米卡见到的大多数面孔都是陌生人。但正是因为这个原因，当他第一眼就认出老居民时，总有一种愉悦的满足感，他回忆起了过去的片段、交往和绰号。

        　　只有少数几个外省城市保留着夜晚大家上大街散步的传统，v城就是其中之一；而且自从艾米卡离开至今，一点都没有改变。和其他城市一样，街道一边是熙攘的人流，另一边则显得有些空。小时候，艾米卡和他的朋友由于逆反心理的原因，总是走在人少的那一侧，看着另一侧走过的女孩们，发出恭维或者讽刺。现在，他感到又回到了从前，甚至比从前还要激动，走在老位置上，看着迎面走来的所有的人。这次遇到熟人并没有使他难堪：这让他感到好玩，他会急忙去和他们打招呼。和某些人，他还会停下脚步，略微交谈几句。但是v城的街道如此狭窄，人流总在推着你向前，而且现在的车流也增长得如此之快，你已经不能再象过去那样，向着街中央迈出几步，随时随地的走到街的另一边了。总之，散步已变得又挤又慢，没有行动的自由了。艾米卡不得不跟随着人流，有时也试图挣扎；当他看见一张熟悉的脸，还没等他扬手打招呼，那个人就已经消失了，他根本不能肯定到底是看见了还是没看见。

        　　因此当艾米卡发现科拉多.史屈森――他的同学，也是多年的台球伙伴――的时候，他微笑着朝他使劲挥手。科拉多.史屈森向前走来，他看见了他，但好象目光又越过了他，继续向前走。是不是他没认出艾米卡？可是艾米卡.卡拉格清楚地知道岁月并没有让自己的面貌有多大改变；他没有啤酒肚，虽然有点谢顶，但他以前的特征都还在。卡威纳教授也走来了。艾米卡恭敬地向他打招呼，微微地一鞠躬。教授起先还本能地做出回应，但马上又停下来，环顾四周，好象在寻找其他人。卡威纳教授可是以过目不忘而闻名！他能记住所有学生长相和完整的姓名，甚至他们每个人期末的成绩等级。最后走来的是足球队教练希科希欧.科巴，他倒是对艾米卡的招呼，做出了回礼。但他立刻眨着眼又吹起了口哨，好象认为自己做错了反应，天知道那个陌生人的招呼是打给谁的。

        　　艾米卡意识到没有人会认出他。眼镜使他能够看清世界，但又黑又大的镜架使别人看不到他的真面目了。谁会想到这付面具后面实际上是艾米卡.卡拉格呢？谁会在他离开v城多年以后，还期望能再遇见他呢？当伊莎.玛里奥.贝蒂出现的时候，他还对这种想法抱着一丝侥幸。她和女伴在一起，正在逛马路；艾米卡挡住了她的去路，刚想喊“伊莎.玛里奥”，声音就冻结在喉咙里；伊莎.玛里奥.贝蒂用胳膊肘把他推到旁边，一边对她的朋友说：“如今人们的举止......”，一边扬长而去。

        　　看来甚至连伊莎.玛里奥.贝蒂也没有认出他。他突然明白了他回来的唯一原因就是因为她，就象他决定离开v城、在外漂泊多年也是因为她一样；每件事，他生命里的每件事，这个世界上的每件事，都只有一个原因，伊莎.玛里奥.贝蒂；现在他终于又遇见她了，他们目光相对，她没有认出他。他太激动了，以至没有注意到她是否发生了变化，有没有长胖、变老，她是否和以前一样有魅力，总之他什么也没看到，除了她是伊莎.玛里奥.贝蒂，以及伊莎.玛里奥.贝蒂没有看见他。

        　　他跟随逛街的人们走到了大街的尽头。人群开始分流，流向街角的冰淇淋店、远处的街区、报摊，或者转过头沿着人行道向回走。艾米卡.卡拉格也向回走。他取下了眼镜。现在世界又一次变得模模糊糊，他睁大了眼睛摸索着前进，什么也看不清。但他还是能认出别人：在光线明亮的地方他总能在极近的距离里认出一两张脸，但他总是怀疑那并不是他想象中的那个人，但不管怎样，那个人是或不是对他来说毕竟是无所谓的。有人点头，有人挥手；也许这是在向他打招呼，但艾米卡不能分辨对方是谁。又有一对行人经过他身旁，向他打招呼；他想要回应，但又想不出他们是谁。马路对面，有人向他喊“希奥，卡鲁”。从声音上判断，大概是一个叫斯戴维的人。艾米卡意识到他们认出了他，他们还记得他，这让他高兴。但满意只是相对的，因为他看不清他们，更别谈认出他们了；他们在他的记忆里含糊不清，彼此冲突，他们实际上是那些对他来说并不重要的人。他一看到有人招手或者头部运动了一下，他就立刻说“晚上好”。那些向他致意的人一定是贝林图西或者卡瑞提或者史屈森。如果真的是史屈森，艾米卡本来也许会停下来和他聊一会。但现在他却是相当粗鲁的回应别人的问候；他想到这点，觉得这是很自然的，他和他们的关系就应当是这样，就是习惯性的匆忙的问候。

        　　他的四处张望显然是有一个很明确的目的：找到伊莎.玛里奥.贝蒂。她穿一件红大衣，所以应该很远以外就能看到。才一会，艾米卡就注意到了一件红大衣，但等到他超过她时，他发现那不是她，这时候马路对面又出现了两件红大衣向反方向走去。这年头中长的红大衣可是最流行。比如说，他几分钟前看到吉吉娜也穿着这种红大衣，从一家烟店里走出来。现在他开始怀疑，从烟店里走出来的不是吉吉娜，实际上是伊莎.玛里奥.贝蒂。但把伊莎.玛里奥.贝蒂错当成吉吉娜，这怎么可能呢？艾米卡决定往回走，去查个究竟。他突然迎面看见了吉吉娜，没错，真的是吉吉娜，毫无疑问。但是她现在是和艾米卡走在同一个方向，她不可能在这么短的时间里把前面的路走完，再折回来；是不是她根本就没走到头。他彻底糊涂了。如果伊莎.玛里奥.贝蒂向他打招呼，他却冰冷地回应，那么他的整个旅程，他的所有的等待，所有这些年都将化为徒劳。艾米卡在人行道上一会往前走，一会往后走，一会戴上眼镜，一会又取下，一会向每个人打招呼，一会又收到那些朦胧的、无法辨认的鬼魂般的人影的致意。

        　　散步的道路走到头后，大街还在向前延伸，并且很快超出了城市的边界。那个地方有树林、沟渠、篱笆和田野。以前，你可以搂着女朋友，夜晚到这里来，前提是如果你有女朋友的话；不然，你一个人来这里，坐在长椅上，听着蟋蟀的鸣叫，你会变得更加孤独。艾米卡.卡拉格往这个方向走着；如今的城市变大了，但边界只向外扩展了一点点，很有限。和以前一样，这里依然有长椅、沟渠、蟋蟀。艾米卡.卡拉格坐下。黑暗中，四周只看得清一排排的阴影。在这里，戴不戴眼镜都一个样。艾米卡.卡拉格意识到，他的新眼镜给他带来的激动是他生命中最后一个高潮，现在它已经过去了。（结束）
    </div>
        <div id="shxl1"><p><input type="button" class="bsx" onclick="nx(this)"  name="buttonnx" value="next(下一站星之旅) "/></p><input type="button" class="con" value="上一页 "></input>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="cot" value="下一页 "></input></div>
        <div id="shxl2" align="center"><p><input type="button" onclick="nx(this)" id="nextb" name="buttonnx" class="bsx" value="next(下一站星之旅) "/></p><p><input type="button" onclick="prev(this)"  name="buttonpre" class="bsx" value="prev(上一站星之旅) "/></p><p><audio id="mg2" src="/video/g2/x3.mp3" controls="controls"></audio></p><br/>很多时候，人的惆怅是婉转，曲折的，很多时候它也是唯美的，艺术的，以至于人的愁思千百转，世事苍凉千百度，曲艺悠扬，似乎阴柔的调子延伸着，从出生到黑暗意义上的死亡，其实一直延伸到不死的境界，我们始终无法摆脱哪种愁绪的艺术感所带来的致命吸引力。
            这首《creep》有另类人生非主流的冷沧感，也许你会很有感触......<br/> </div>
        <div id="shxl3" align="center"><p><input type="button" onclick="nx(this)" id="nextb" name="buttonnx" class="bsx" value="next(下一站星之旅) "/></p> <p><input type="button" onclick="prev(this)"  name="buttonpre" class="bsx" value="prev(上一站星之旅) "/></p><p></p> <p><video id="mg3" src="/video/g3/y3.mp4"  controls="controls" height="300px" width="500px">
            <source src="/video/g3/y3.mp4"/>

        </video><br/> 近期，你是这么的超越于现代意识，喜欢科技与新潮，时代与自由的人。你把事业看的比较重要，有的时候甚至愿意为了事业的精彩还有它的一帆风顺，你选择放弃了许多亲近大自然的时光。
            对于你来说，体现聪明才智，以掩盖住内心的某种难以表达的不够自信很重要，或者你觉得忙碌着本身是一种精彩，很多时候，你的精力超凡，但是又飘渺充满奇特的幻想，对于未来，你很难把握，你觉得未来一方面最好是平静又顺利的，但是同时你又希望这个未来是精彩而又充满各种神秘符号的，你觉得这个世界是精彩的对你很重要，你相信环境，也觉得环境的未知与无限变化的不定数会让这个世界充满神奇和科技的概念。你相信聪明才智，还有环境，还有那些兴趣给自己每天带来的精神抖擞的冲击和洗礼，相信只要不是很懒惰，你在职场是能发挥出一定的能力和天赋的。你的致命敌人是害怕不够平等与公平的现象会让这个世界倒退，周围的人心变得不再充满天真和尊重自由的善良的行为语言，让你敏感以至于自甘堕落。<br/> </p>

        </div>
        <div id="shxl4"><p><input type="button" onclick="nx(this)" id="nextb" name="buttonnx" class="bsx" value="next(下一站星之旅) "/></p><p><input type="button" onclick="prev(this)"  name="buttonpre" class="bsx" value="prev(上一站星之旅) "/></p><p></p><p> <p> <video id="mg4" src="/video/g4/a3.mp4"  height="300px" width="500px"  controls="controls">
            <source src="/video/g4/a3.mp4"/>
        </video> <br/> 回忆，幻想，同时又想远离某种现实的状态，可以说你现在的状态非常古远又充满神奇的感觉，你有着一种从现实中寻找超现实的心情与愿望，你在通往某个古老的传说或者某个谜题的答案，你有着深邃的神奇的想法和追求，并且愿意和极为少数的朋友一起分享。
            你想拥有魔法和超能力，其实是生活中很多时候不尽如人意的体现，或者你很无奈，想回避一些光明世界的失败感与无奈，在阴暗的角落寻求自己智力和潜意识的深度发展与探寻，你常常拒绝竞争，因为这对你来讲是比较痛苦的，你的智力与潜意识更愿意朝着自身隐秘和世界某个角落不为人知的方向和事物去发展和探究，你是个隐秘型进行自我活动与自我探寻的人，不喜欢过分的招摇自己真实的一面，哪怕在智慧上，生活中大部分并不了解你的研究与你的潜力，也许常常他们会被你外表与眼神中的美好天真或者时尚边缘化，或者世俗不入上流所掩盖，让别人觉得你像小孩一样不过是个幼稚或者年轻尚不成熟，或者大众化并不超群的人物，其实你有自己超群的洞察力，研究能力，第六感，第七感，至第n感，多维空间和神界交流，古远有耐心，甚至能深入魔界，所以你是个非同一般的人。<br/></p>
        </div>
        <div id="shxl5"><p><input type="button" onclick="nx(this)" id="nextb" name="buttonnx" class="bsx" value="next(下一站星之旅) "/></p><p><input type="button" onclick="prev(this)"  name="buttonpre" class="bsx" value="prev(上一站星之旅) "/></p><p></p><p> <video id="mg5" src="/video/g5/b3.mp4"  height="300px" width="500px"  controls="controls">
            <source src="/video/g5/b3.mp4"/>
        </video><br/>你是个愿意大胆想象，突破寻常的人，你喜欢追寻事情的前因后果，做事喜欢寻求逻辑性，但是又不刻意拘泥于现实带来的假象和种种虚假的表象。你不喜欢盖棺定论，或许别人眼里的许多天才在你看来都是可以靠自己的分析和假设来寻求突破的，追溯，突破，你觉得科学本身会带有很多谦虚的成分，全面思考对于你来说很重要，看事物看事情你不喜欢追求瞬间的结论与盲目的结论，你喜欢长期的分析与纵览，以及深入地探寻，你喜欢好玩儿的探险，你不认为追求智慧需要过分的拘泥，你有时甚至不愿意狭隘定义智慧和他人，你相信潜力学说，很多在别人看来漫不经心的小事在你看来值得研究，或者会有惊喜发现和深奥的价值，许多别人看来不聪明的人，你却觉得和他们某些时刻很相似，你们似乎都有某种惊人的智慧，但是表现在外却是大智若愚的，你感兴趣的是深藏在事物表象之下的内因学说。在上学时候，你常常不喜欢真的发自内心的去在意名次和学习成绩，你更关心的是自己长期的研究和对某个问题的追求与探寻。
            <br/> </p>

        </div>
        <div id="shxl6" > <p><input type="button" class="bsx"  onclick="nx(this)" id="nextb" name="buttonnx" value="next(下一站星之旅) "/></p>
            <p><input type="button" onclick="prev(this)" class="bsx"   name="buttonpre" value="prev(上一站星之旅) "/> </p>
            <p>


                <!DOCTYPE html>
                <html>
                <head lang="en">
                    <meta charset="UTF-8">
                    <title>星林悠小时光欢迎您</title>


                    <link href="http://serrinawss.java.jspee.cn:80/css/c12.css" rel="stylesheet" type="text/css"/>






                </head>


                <body>
                <script type="text/javascript" src="http://serrinawss.java.jspee.cn:80/css/jquery-3.4.1.js"></script>
                <div id="aijitopt" align="center"><img src="http://serrinawss.java.jspee.cn:80/pic/yhc04.jpg" width="250px" height="275px"/></div>
                <div id="huaaiji"><p>新西兰北岛中北部石灰岩洞。位于汉米(Hamilton)南约80公里(50哩)处，怀帕(Waipa)河支流附近。有旅游公路通达。地下岩洞有精美的钟乳石、石笋等，沿地下河道乘船游览最吸引人。</p>
            <p>很多人都有过捉萤火虫的经历，在黑夜里追逐许久，才把小小的萤火虫放进瓶子里，隔着玻璃看它一闪一闪发出微光……让萤火虫像星星一样挂在天上，是不少人儿时的梦想。在新西兰北岛一个小城，这种梦想竟能成真：成千上万的萤火虫在岩洞内熠熠生辉，灿若繁星，有人把这种自然奇观称为“世界第九大奇迹”。</p></div>
        <div class="andivs"><input type="button" class="anaiji" value="点击按钮弹出新西兰神秘风景线......"/></div>
        <div id="tishi"><p style="color:blue;">点击下列你想了解的滚动中循环展示的某一张图片，可以看到该图片的放大图片，同时滚动图片会停止，待你去发现它的精彩与与众不同,你再次点击任何一个图片所有的图片会继续滚动......</p></div>
        <div id="aijixx">
            <div id="aijijd">

                <img src="http://serrinawss.java.jspee.cn:80/pic/yhc01.jpg" width="150px" height="108px" id="ai1" onclick="rmove(this)"/>


                <img src="http://serrinawss.java.jspee.cn:80/pic/yhc02.jpg" width="150px" height="108px"  id="ai2" onclick="rmove(this)"/>

                <img src="http://serrinawss.java.jspee.cn:80/pic/yhc03.jpg" width="150px" height="108px"  id="ai3" onclick="rmove(this)"/>

                <img src="http://serrinawss.java.jspee.cn:80/pic/yhc04.jpg" width="150px" height="108px"  id="ai4" onclick="rmove(this)"/>

                <img src="http://serrinawss.java.jspee.cn:80/pic/yhc05.jpg" width="150px" height="108px" id="ai5" onclick="rmove(this)"/>

                <img src="http://serrinawss.java.jspee.cn:80/pic/yhc06.jpg" width="150px" height="108px"  id="ai6" onclick="rmove(this)"/>

                <img src="http://serrinawss.java.jspee.cn:80/pic/yhc07.jpg" width="150px" height="108px"  id="ai7"  onclick="rmove(this)"/>

            </div></div>
        <div id="wen"></div>
        <div id="wen1" align="center"><img src="http://serrinawss.java.jspee.cn:80/pic/yhc01.jpg"  class="igsm1"/></div>

        <div id="wen2" align="center"><img src="http://serrinawss.java.jspee.cn:80/pic/yhc02.jpg"  class="igsm1"/></div>
        <div id="wen3" align="center"><img src="http://serrinawss.java.jspee.cn:80/pic/yhc03.jpg"  class="igsm1"/></div>
        <div id="wen4" align="center"><img src="http://serrinawss.java.jspee.cn:80/pic/yhc04.jpg"  class="igsm1"/>

        </div>
        <div id="wen5" align="center"><img src="http://serrinawss.java.jspee.cn:80/pic/yhc05.jpg"  class="igsm1"/></div>
        <div id="wen6" align="center"><img src="http://serrinawss.java.jspee.cn:80/pic/yhc06.jpg"  class="igsm1"/></div>
        <div id="wen7" align="center"><img src="http://serrinawss.java.jspee.cn:80/pic/yhc07.jpg"  class="igsm1"/></div>
        <div id="wen7" align="center"><img src="http://serrinawss.java.jspee.cn:80/pic/yhc08.jpg"  class="igsm1"/></div>
        <script type="text/javascript" >


            $(document).ready(function(){




            });

            var st56=true;
            function retin(){

                location.href = "indexlog.do"




            }
            $(".anaiji").click(function(){
                $("#tishi").css("display","block");
                $("#aijixx").css("display","block");
                $("#aijijd").css("display","block");






                var py;
                var pm;
                var le;
                var h;
                var h2;

                var zwi= $(window).width();
                py = $("#aijijd").offset().top;

                pl=$("#aijijd").offset().left;


                wid =$("#aijijd").width();


                var leto=pl;



                setInterval(function(){

                    if(st56){

                        pl--;


                        if(pl<(leto-wid)){


                            pl=leto+500;


                        }
                        $("#aijijd").offset({"left":pl,"top":py});



                    }},10);



            });
            function rmove(ob){



                var id=$(ob).attr("id");

                if(st56){

                    st56=false;
                    for(var i=1;i<=7;i++){
                        if(id==("ai"+i)){

                            $("#wen"+i).css("display","block");}

                    } return false;}
                if(!st56){

                    st56=true;
                    for(var i=1;i<=7;i++){


                        $("#wen"+i).css("display","none");}



                }return false;

            }






        </script>
</body>
</html></p>
</div>
<div id="shxl7">
    <p>大家好，以下你们看到的小游戏和flash中关于清明节，儿童节，劳动节，万圣节，还有圣诞节的游戏和flash都是站长本人小创意制作的，作为本星途旅程的最后一站，给大家带来神奇的体验~玩儿完以后，记得还没有结束，
        还有最后你意想不到的“上升星空”部分，别忘记点击“最后进入上升太空”部分，给你带来无限的上升空间，但是要记得如果最后一站你打开的是游戏，就必须玩儿完才能点击“最后进入上升空间”......然后，你就知道了，本次旅程是不可能结束的,la啦la~</p> <p><input type="button" onclick="cbus()" class="bsx" id="tyuk" name="buttojs" value="最后进入上升太空"/></p>

    <p><input type="button" onclick="prev(this)"  class="bsx" name="buttonpre" value="prev(上一站星之旅) "/></p>
    <p>


        <!DOCTYPE html>
        <head>
            <meta charset="UTF-8">


            <link href="http://serrinawss.java.jspee.cn:80/css/dsf2.css" rel="stylesheet" type="text/css"/>
            <title>Insert title here</title>
        </head>

    <body>
    <script type="text/javascript" src="http://serrinawss.java.jspee.cn:80/css/jquery-3.4.1.js"></script>
    <div class="dsd">
        <video  src="http://serrinawss.java.jspee.cn:80/video/cj.mp4"  id="audt" controls="controls" width="600px" height="500px" >
            <source src="http://serrinawss.java.jspee.cn:80/video/cj.mp4"/>

        </video> 
    </div>




    </script>
    </body>
    </html></p>

    </div>
    </div>



    </div>
    <script type="text/javascript" >
        $(document).ready(function(){


            wprt();


        });

    var t=0;
    var py;

    var h;
    var h2;
    var le;
    var pm;
    function wprt(){


        var hua="星林悠小时光——开启了你的星际神游的特殊旅程......";





        var i=0;

        setInterval(function(){

            if(i<hua.length){



                i++;

                $("#cttop").find("p").append(hua[i-1]);

            }

        },300);





    }







    $(document).ready(function(){
        $("#shxl1").css("display","block");
        $("#shxl0").css("display","none");
        $("#shxl1").append("<div id='shxlx1'></div>");

        var txt=$("#sh1txt").html().substring(0,518);


        $("#shxlx1").html(txt);
        $("#ct2").css("display","none");

        $("#xxwd").css("display","none");



    })
    $(".ybt").click(function(){

        $("#shxl0").css("display","block");
        for(var i=1;i<=7;i++){
            $("#shxl"+i).css("display","none");
            var music = document.getElementById("mg"+i);

            if(music!=null){ music.pause();}
            var music2=document.getElementById("audt");
            if(music2!=null){
                music2.pause();
            }



        }


    })
    $(".bsxu").click(function(){

        $("#shxl0").css("display","none");
        t=0;
        $("#shxl1").append("<div id='shxlx1'></div>");

        var txt=$("#sh1txt").html().substring(0,518);


        $("#shxlx1").html(txt);
        $("#shxl1").css("display","block");

        for(var i=2;i<=7;i++){

            $("#shxl"+i).css("display","none");
            var music = document.getElementById("mg"+i);

            if(music!=null){						    				  music.pause();}
            var music2=document.getElementById("audt");
            if(music2!=null){
                music2.pause();
            }

        }


    })



    $(".cot").click(function(){

        var n1=$("#sh1txt").html().length;

        var n=($("#sh1txt").html().length)%518;




        var m;



        m=n1/518;






        if(t<=(m-1)){

            $("#shxlx1").html("");



            var txt=$("#sh1txt").html().substring(518*(t+1),518*(t+2));
            $("#shxlx1").html(txt);
            $("#shxlx1").css("display","block");


            t++;
        }

    })

    $(".con").click(function(){

        var n1=$("#sh1txt").html().length;

        var n=($("#sh1txt").html().length)%518;




        var m;
        if(n!=0){


            m=n1/518;
            m=m;


        }



        if(t>0){

            $("#shxlx1").html("");

            var txt=$("#sh1txt").html().substring(518*(t-1),518*t);
            $("#shxlx1").html(txt);
            $("#shxlx1").css("display","block");


            t--;
        }

    })





    function nx(ob){



        var vao=$(ob).parent().parent().attr("id");


        var vas;

        for(var i=0;i<=6;i++){


            if (vao==("shxl"+i)) {
                $("#shxl"+i).css("display","none");
                vas=i+1;
                $("#shxl"+vas).css("display","block");
                $(".bxy0").css("display","block");
                if(vas==7){
                    var music2=document.getElementById("audt");
                    if(music2!=null){

                        music2.play();}


                }
                if((i!=1)&&(i!=6)&&(i!=0)){
                    var music = document.getElementById("mg"+i);

                    music.pause();}




            }



        }



    }

    function prev(ob){



        var vao=$(ob).parent().parent().attr("id");


        var vas;

        for(var i=1;i<=7;i++){


            if (vao==("shxl"+i)) {
                $("#shxl"+i).css("display","none");

                vas=i-1;




                if(vas==1){ t=0;$("#shxl1").append("<div id='shxlx1'></div>");

                    var txt=$("#sh1txt").html().substring(0,518);


                    $("#shxlx1").html(txt);
                    $("#shxl1").css("display","block"); }

                $("#shxl"+vas).css("display","block");
                var music = document.getElementById("mg"+i);

                if(music!=null){		  music.pause();}

                if(vao=="shxl7"){
                    var music2=document.getElementById("audt");

                    if(music2!=null){
                        music2.pause();


                    }
                }
                break;}








        } }





    var st56=true;
    function retin(){

        location.href = "index.do"




    }



    function cbus(){


        location.href = "sstk.do"



    }














    </script>
    </body>
    </html>