


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>心理测试</title>


    <link href="http://serrinawss.java.jspee.cn:80/css/in4.css" rel="stylesheet" type="text/css"/>

    <link href="http://serrinawss.java.jspee.cn:80/css/c12.css" rel="stylesheet" type="text/css"/>

</head>


<body >


<script type="text/javascript" src="http://serrinawss.java.jspee.cn:80/css/jquery-3.4.1.js"></script>
<header id="top">
    <div class="top">


    </div>
</header>

<div id="ct">
    <div id="cttop"><p></p>
        漫漫旅程中......<br/><br/>
    </div>
    <div id="ct1">
        <input class="button"
               type="button"

               id="xx1" /><input class="button"
                                 type="button"

                                 id="xx2" />
        <input class="button"
               type="button"

               id="xx3" /><input class="button"
                                 type="button"

                                 id="xx4" />
        <input class="button"
               type="button"

               id="xx5" /><input class="button"
                                 type="button"

                                 id="xx6" />
        <input class="button"
               type="button"

               id="xx7" />
    </div><p class="xxcs"><a href="/stu/toPsychoTest">重新测试</a></p>
    <div id="shxl"><input type="button" class="ybt" value="查案我的全部心理分析"/><p><input type="button" class="bsxu"  name="buttonnx" value="第一站星之旅 "/></p><div id="shxl0">爱黑夜，更爱黑夜中那流向现实与梦境交织的自由，或许这就是你，目前喜欢一个人，但是又不是完全拒绝外面世界的精彩。在你看来，现实不光是现实，也有很多迷离，奇特，和你值得追求的非现实的部分，或许你目前状态还可以，遇到的麻烦不多，所以你既可以一个人安逸地享受着一杯温温的水，听着音乐，同时还可以看一个很长的带有你喜欢的题材的美剧等等，经过很长时间的和外界的斗争与内心的挣扎矛盾，你的注意力最终转移在兴趣上和自身的良好感受上面。静静地享受美好的夜色吧，当个体会者，观察者，和思考者，今夜，你会看到那流淌到远方的夜色的河流，带着新奇，浪漫，与憧憬...<br/>很多时候，人的惆怅是婉转，曲折的，很多时候它也是唯美的，艺术的，以至于人的愁思千百转，世事苍凉千百度，曲艺悠扬，似乎阴柔的调子延伸着，从出生到黑暗意义上的死亡，其实一直延伸到不死的境界，我们始终无法摆脱哪种愁绪的艺术感所带来的致命吸引力。
        这首《creep》有另类人生非主流的冷沧感，也许你会很有感触......<br/>你近期精神趋向于高深莫测，又容易陷入一种隐蔽下的探索精神，可能业余你会对那些不为人知的或者比较奇特的事情感兴趣，思想和想象力深邃，你放弃了不被理解的矛盾，而觉得人生必须走向探索的阶段，无论在寻求新奇知识方面，还是想自己一个人隐蔽众人目光去独自选择精神的独异，对于阳光世界生活，可能会杀死你，而悬崖底部的神秘虽然吸引着你，但是对于你同时存在着危险，或许对于知识以及新奇事物的感兴趣让你不再甘于内心的平静。<br/>夜有夜的静谧，也有夜的神奇，在你看来那充满事业的新奇挑战，也充满人生的无数不定数的未来，是科技与神奇的结合，也是夜晚中人们最期待的浪漫的邂逅的场景，你最近喜欢理想又充满前景与期待，安定与前进相结合，感情上比较期待更广阔和新意的浪漫场所，愿意认识更有才华和善解人意的相知的或者让你感到新奇的朋友或者伴侣，更愿意眺望远方与未来，你不再甘居某种一味飘逸和懒散的状态，而是有了一些自信，但是有的时候一味沉浸在高处的夜空也容易患得患失，所以要记得事业上，工作上，心理上的准备，有一定的预防性质，也不让自己一味高处攀爬后掉落低谷，认识到人生的境界不止于此，有的时候精神太紧张了，适当的海阔天空，甚至大隐隐于市的心态也是可以有的，比如看看电影，做个短期的旅游，甚至搞个恶搞的party聚会，弄个别出心裁的约会方式，别浪费夜晚的高空的良辰美景，高楼平台上的浪漫星光的伴奏曲啊！<br/>你的思想常常喜欢下落式的突发奇想，你不喜欢安稳的现状，是个现实的悲观论者，或者受不了现状的时候就渴望它走向灭亡的状态，就好像幻想整个世界突然发生一起灾难，会让你觉得解脱和超现实。这是人的一种潜意识里自带的毁灭天赋。如果说，你唯恐天下不乱，其实未必贴切。因为你不希望某一件悲剧会发生在某个人身上，与其那样，不如大家一起走向灭亡。生活是这样的不公平，和这样的阴错阳差，有时实在无法逃出悲剧和平庸的命运的我们掩藏了自己的希望和悲观，而真的能逃脱吗？逃脱了或许还是这样。所以还是希望能一起经历世界末日，毕竟，现实，我们不能总是依赖它了。<br/>

    </div><div id="sh1txt"><br/>爱黑夜，更爱黑夜中那流向现实与梦境交织的自由，或许这就是你，目前喜欢一个人，但是又不是完全拒绝外面世界的精彩。在你看来，现实不光是现实，也有很多迷离，奇特，和你值得追求的非现实的部分，或许你目前状态还可以，遇到的麻烦不多，所以你既可以一个人安逸地享受着一杯温温的水，听着音乐，同时还可以看一个很长的带有你喜欢的题材的美剧等等，经过很长时间的和外界的斗争与内心的挣扎矛盾，你的注意力最终转移在兴趣上和自身的良好感受上面。静静地享受美好的夜色吧，当个体会者，观察者，和思考者，今夜，你会看到那流淌到远方的夜色的河流，带着新奇，浪漫，与憧憬...<br/><br/>现在来看篇符合你心境的短篇小说吧：<br/>                                                                                                        《小鬼和商人》
        作者：安徒生      ――
        从前有一个名副其实的学生：他住在一间顶楼①里，几乎什么也没有；同时有一个名副其实的小商人，住在第一层楼上，拥有整幢房子。一个小鬼就跟这个小商人住在一起，因为在这儿，在每个圣诞节的前夕，他总能得到一盘麦片粥吃，里面还有一大块黄油！这个小商人能够供给这点东西，所以小鬼就住在他的店里，而这件事是富有教育意义的。

        　　①顶楼（Ｑｖｉｓｔ）即屋顶下的一层楼。在欧洲的建筑物中，它一般用来堆破烂的东西。只有穷人或穷学生才住在顶楼里。

        　　               有一天晚上，学生从后门走进来，给自己买点蜡烛和干奶酪。他没有人为他跑腿，因此才亲自来买。他买到了他所需要的东西，也付了钱。小商人和他的太太对他点点头，表示祝他晚安。这位太太能做的事情并不止点头这一项――她还有会讲话的天才！

        　　学生也点了点头。接着他忽然站着不动，读起包干奶酪的那张纸上的字来了。这是从一本旧书上撕下的一页纸。这页纸本来是不应该撕掉的，因为这是一部很旧的诗集。

        　　“这样的书多得是！”小商人说。“我用几粒咖啡豆从一个老太婆那儿换来的。你只要给我三个铜板，就可以把剩下的全部拿去。”

        　　               “谢谢，”学生说，“请你给我这本书，把干奶酪收回去吧；我只吃黄油面包就够了。把一整本书撕得乱七八糟，真是一桩罪过。你是一个能干的人，一个讲究实际的人，不过就诗说来，你不会比那个盆子懂得更多。”

        　　这句话说得很没有礼貌，特别是用那个盆子作比喻；但是小商人大笑起来，学生也大笑起来，因为这句话不过是开开玩笑罢了。但是那个小鬼却生了气：居然有人敢对一个卖最好的黄油的商人兼房东说出这样的话来。

        　　黑夜到来了，店铺关上了门；除了学生以外，所有的人都上床去睡了。这时小鬼就走进来，拿起小商人的太太的舌头，因为她在睡觉的时候并不需要它。只要他把这舌头放在屋子里的任何物件上，这物件就能发出声音，讲起话来，而且还可以像太太一样，表示出它的思想和感情。不过一次只能有一件东西利用这舌头，而这倒也是一桩幸事，否则它们就要彼此打断话头了。

        　　小鬼把舌头放在那个装报纸的盆里。“有人说你不懂得诗是什么东西，”他问，“这话是真的吗？”

        　　               “我当然懂得，”盆子说，“诗是一种印在报纸上补白的东西，可以随便剪掉不要。我相信，我身体里的诗要比那个学生多得多；但是对小商人说来，我不过是一个没有价值的盆子罢了。”

        　　于是小鬼再把舌头放在一个咖啡磨上。哎唷！咖啡磨简直成了一个话匣子了！于是他又把舌头放在一个黄油桶上，然后又放到钱匣子上――它们的意见都跟盆子的意见一样，而多数人的意见是必须尊重的。

        　　“好吧，我要把这意见告诉那个学生！”

        　　           于是小鬼就静悄悄地从一个后楼梯走上学生所住的那间顶楼。房里还点着蜡烛。小鬼从门锁孔里朝里面偷看。他瞧见学生正在读他从楼下拿去的那本破书。

        　　但是这房间里是多么亮啊！那本书里冒出一根亮晶晶的光柱。它扩大成为一根树干，变成了一株大树。它长得非常高，而且它的枝丫还在学生的头上向四面伸展开来。每片叶子都很新鲜，每朵花儿都是一个美女的面孔：脸上的眼睛有的乌黑发亮，有的蓝得分外晶莹。每一个果子都是一颗明亮的星；此外，房里还有美妙的歌声和音乐。

        　　嗨！这样华丽的景象是小鬼从没有想到过的，更谈不上看见过或听到过了。他踮着脚尖站在那儿，望了又望，直到房里的光灭掉为止。学生把灯吹熄，上床睡觉去了。但是小鬼仍旧站在那儿，因为音乐还没有停止，声音既柔和，又美丽；对于躺着休息的学生说来，它真算得是一支美妙的催眠曲。

        　　“这真是美丽极了！”小鬼说。“这真是出乎我的想象之外！

        　　             我倒很想跟这学生住在一起哩。”

        　　              接着他很有理智地考虑了一下，叹了一口气：“这学生可没有粥给我吃！”所以他仍然走下楼来，回到那个小商人家里去了。他回来得正是时候，因为那个盆子几乎把太太的舌头用烂了：它已经把身子这一面所装的东西全都讲完了，现在它正打算翻转身来把另一面再讲一通。正在这时候，小鬼来到了，把这舌头拿走，还给了太太。不过从这时候起，整个的店――从钱匣一直到木柴――都随声附和盆子了。它们尊敬它，五体投地地佩服它，弄得后来店老板晚间在报纸上读到艺术和戏剧批评文章时，它们都相信这是盆子的意见。

        　　但是小鬼再也没有办法安安静静地坐着，听它们卖弄智慧和学问了。不成，只要顶楼上一有灯光射出来，他就觉得这些光线好像就是锚索，硬要把他拉上去。他不得不爬上去，把眼睛贴着那个小钥匙孔朝里面望。他胸中起了一种豪迈的感觉，就像我们站在波涛汹涌的、正受暴风雨袭击的大海旁边一样。他不禁凄然泪下！他自己也不知道他为什么要流眼泪，不过他在流泪的时候却有一种幸福之感：跟学生一起坐在那株树下该是多么幸福啊！然而这是做不到的事情――他能在小孔里看一下也就很满足了。

        　　他站在寒冷的楼梯上；秋风从阁楼的圆窗吹进来。天气变得非常冷了。不过，只有当顶楼上的灯灭了和音乐停止了的时候，这个小矮子才开始感觉到冷。嗨！这时他就颤抖起来，爬下楼梯，回到他那个温暖的角落里去了。那儿很舒服和安适！

        　　圣诞节的粥和一大块黄油来了――的确，这时他体会到小商人是他的主人。

        　　            不过半夜的时候，小鬼被窗扉上一阵可怕的敲击声惊醒了。外面有人在大喊大叫。守夜人在吹号角，因为发生了火灾――整条街上都是一片火焰。火是在自己家里烧起来的呢，还是在隔壁房里烧起来的呢？究竟是在什么地方烧起来的呢？

        　　大家都陷入恐怖中。

        　　               小商人的太太给弄糊涂了，连忙扯下耳朵上的金耳环，塞进衣袋，以为这样总算救出了一点东西。小商人则忙着去找他的股票，女佣人跑去找她的黑绸披风――因为她没有钱再买这样一件衣服。每个人都想救出自己最好的东西。小鬼当然也是这样。他几步就跑到楼上，一直跑进学生的房里。学生正泰然自若地站在一个开着的窗子面前，眺望着对面那幢房子里的火焰。小鬼把放在桌上的那本奇书抢过来，塞进自己的小红帽里，同时用双手捧着帽子。现在这一家的最好的宝物总算救出来了！所以他就赶快逃跑，一直跑到屋顶上，跑到烟囱上去。他坐在那儿，对面那幢房子的火光照着他――他双手抱着那顶藏有宝贝的帽子。现在他知道他心里的真正感情，知道他的心真正向着谁了。不过等到火被救熄以后，等到他的头脑冷静下来以后――嗨……“我得把我分给两个人，”他说。“为了那碗粥，我不能舍弃那个小商人！”

        　　这话说得很近人情！我们大家也到小商人那儿去――为了我们的粥。

        　　（１８５３年）（结束）
    </div>
        <div id="shxl1"><input type="button" class="con" value="上一页 "></input>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="cot" value="下一页 "></input></div>
        <div id="shxl2" align="center"><p><input type="button" onclick="nx(this)" id="nextb" name="buttonnx" class="bsx" value="next(下一站星之旅) "/></p><p><input type="button" onclick="prev(this)"  name="buttonpre" class="bsx" value="prev(上一站星之旅) "/></p><p><audio id="mg2" src="/video/g2/x3.mp3" controls="controls"></audio></p><br/>很多时候，人的惆怅是婉转，曲折的，很多时候它也是唯美的，艺术的，以至于人的愁思千百转，世事苍凉千百度，曲艺悠扬，似乎阴柔的调子延伸着，从出生到黑暗意义上的死亡，其实一直延伸到不死的境界，我们始终无法摆脱哪种愁绪的艺术感所带来的致命吸引力。
            这首《creep》有另类人生非主流的冷沧感，也许你会很有感触......<br/> </div>
        <div id="shxl3" align="center"><p><input type="button" onclick="nx(this)" id="nextb" name="buttonnx" class="bsx" value="next(下一站星之旅) "/></p> <p><input type="button" onclick="prev(this)"  name="buttonpre" class="bsx" value="prev(上一站星之旅) "/></p><p></p> <p><video id="mg3" src="/video/g3/y2.mp4"  controls="controls" height="300px" width="500px">
            <source src="/video/g3/y2.mp4"/>

        </video><br/> 你近期精神趋向于高深莫测，又容易陷入一种隐蔽下的探索精神，可能业余你会对那些不为人知的或者比较奇特的事情感兴趣，思想和想象力深邃，你放弃了不被理解的矛盾，而觉得人生必须走向探索的阶段，无论在寻求新奇知识方面，还是想自己一个人隐蔽众人目光去独自选择精神的独异，对于阳光世界生活，可能会杀死你，而悬崖底部的神秘虽然吸引着你，但是对于你同时存在着危险，或许对于知识以及新奇事物的感兴趣让你不再甘于内心的平静。<br/> </p>

        </div>
        <div id="shxl4"><p><input type="button" onclick="nx(this)" id="nextb" name="buttonnx" class="bsx" value="next(下一站星之旅) "/></p><p><input type="button" onclick="prev(this)"  name="buttonpre" class="bsx" value="prev(上一站星之旅) "/></p><p></p><p> <p> <video id="mg4" src="/video/g4/a2.mp4"  height="300px" width="500px"  controls="controls">
            <source src="/video/g4/a2.mp4"/>
        </video> <br/> 夜有夜的静谧，也有夜的神奇，在你看来那充满事业的新奇挑战，也充满人生的无数不定数的未来，是科技与神奇的结合，也是夜晚中人们最期待的浪漫的邂逅的场景，你最近喜欢理想又充满前景与期待，安定与前进相结合，感情上比较期待更广阔和新意的浪漫场所，愿意认识更有才华和善解人意的相知的或者让你感到新奇的朋友或者伴侣，更愿意眺望远方与未来，你不再甘居某种一味飘逸和懒散的状态，而是有了一些自信，但是有的时候一味沉浸在高处的夜空也容易患得患失，所以要记得事业上，工作上，心理上的准备，有一定的预防性质，也不让自己一味高处攀爬后掉落低谷，认识到人生的境界不止于此，有的时候精神太紧张了，适当的海阔天空，甚至大隐隐于市的心态也是可以有的，比如看看电影，做个短期的旅游，甚至搞个恶搞的party聚会，弄个别出心裁的约会方式，别浪费夜晚的高空的良辰美景，高楼平台上的浪漫星光的伴奏曲啊！<br/></p>
        </div>
        <div id="shxl5"><p><input type="button" onclick="nx(this)" id="nextb" name="buttonnx" class="bsx" value="next(下一站星之旅) "/></p><p><input type="button" onclick="prev(this)"  name="buttonpre" class="bsx" value="prev(上一站星之旅) "/></p><p></p><p> <video id="mg5" src="/video/g5/b4.mp4"  height="300px" width="500px"  controls="controls">
            <source src="/video/g5/b4.mp4"/>
        </video><br/>你的思想常常喜欢下落式的突发奇想，你不喜欢安稳的现状，是个现实的悲观论者，或者受不了现状的时候就渴望它走向灭亡的状态，就好像幻想整个世界突然发生一起灾难，会让你觉得解脱和超现实。这是人的一种潜意识里自带的毁灭天赋。如果说，你唯恐天下不乱，其实未必贴切。因为你不希望某一件悲剧会发生在某个人身上，与其那样，不如大家一起走向灭亡。生活是这样的不公平，和这样的阴错阳差，有时实在无法逃出悲剧和平庸的命运的我们掩藏了自己的希望和悲观，而真的能逃脱吗？逃脱了或许还是这样。所以还是希望能一起经历世界末日，毕竟，现实，我们不能总是依赖它了。<br/> </p>

        </div>
        <div id="shxl6" > <p><input type="button" class="bsx"  onclick="nx(this)" id="nextb" name="buttonnx" value="next(下一站星之旅) "/></p>
            <p><input type="button" onclick="prev(this)" class="bsx"   name="buttonpre" value="prev(上一站星之旅) "/> </p>
            <p>


                <!DOCTYPE html>
                <html>
                <head lang="en">
                    <meta charset="UTF-8">
                    <title>星林悠小时光欢迎您</title>


                    <link href="http://serrinawss.java.jspee.cn:80/css/c12.css" rel="stylesheet" type="text/css"/>






                </head>


                <body>
                <script type="text/javascript" src="http://serrinawss.java.jspee.cn:80/css/jquery-3.4.1.js"></script>

                <div id="aijitopt" align="center"><img src="http://serrinawss.java.jspee.cn:80/pic/xila.png" width="250px" height="275px"/></div>
                <div id="huaaiji"><p>克里特岛约于公元前第3千纪末出现了青铜文化，约公元前2000年左右，一些讲希腊语的部落开始在希腊半岛定居。公元前第2千纪的中、后期，希腊半岛出现迈锡尼文明。公元前第2千纪中期起，希腊人逐步向爱琴海（包括克里特岛）的诸岛扩张。传说发生于小亚细亚地区的特洛伊战争，可能就在希腊人向外扩张的公元前13世纪下半叶或者公元前12世纪初。 [6]
                公元前1200年左右，多利亚人的入侵毁灭了迈锡尼文明。一些生活于原始社会末期的讲希腊语的部落从北方进入希腊半岛，引起了塞萨利亚及其以南的许多希腊部落向不同方向的迁徙。迈锡尼文明消失后继之而来的是原始社会末期的社会组织和生活方式在希腊半岛、爱琴海诸岛以及小亚细亚希腊人居住的地区占统治地位的“荷马时代”。</p><p>希腊南部地区及各岛屿属于地中海型气候，全年气温变化不大，冬季气温在6℃~13℃之间，夏季则在23℃~33℃之间，夏季较长，阳光强烈。北部和内陆属于大陆性气候，冬温湿，夏干热。从北到南平均气温：1月5~11℃，7月25~27℃。希腊年平均降水量400～1000毫米。东部地区年降水量约400~700毫米，西部地区年降水量约900~1200毫米。</p>
            <p></p>
        </div>
        <div id="wens" align="center"><video  src="http://serrinawss.java.jspee.cn:80/pic/xila01.mp4"  height="300px" width="500px"  controls="controls">
            <source src="http://serrinawss.java.jspee.cn:80/pic/xila01.mp4"/>
        </video></div>


        <script type="text/javascript" >


            $(document).ready(function(){




            });

            var st56=true;
            function retin(){

                location.href = "indexlog.do"




            }
            $(".anaiji").click(function(){
                $("#tishi").css("display","block");
                $("#aijixx").css("display","block");
                $("#aijijd").css("display","block");






                var py;
                var pm;
                var le;
                var h;
                var h2;

                var zwi= $(window).width();
                py = $("#aijijd").offset().top;

                pl=$("#aijijd").offset().left;


                wid =$("#aijijd").width();


                var leto=pl;



                setInterval(function(){

                    if(st56){

                        pl--;


                        if(pl<(leto-wid)){


                            pl=leto+500;


                        }
                        $("#aijijd").offset({"left":pl,"top":py});



                    }},10);



            });
            function rmove(ob){



                var id=$(ob).attr("id");

                if(st56){

                    st56=false;
                    for(var i=1;i<=7;i++){
                        if(id==("ai"+i)){

                            $("#wen"+i).css("display","block");}

                    } return false;}
                if(!st56){

                    st56=true;
                    for(var i=1;i<=7;i++){


                        $("#wen"+i).css("display","none");}



                }return false;

            }






        </script>
</body>
</html></p>
</div>
<div id="shxl7">
    <p>大家好，以下你们看到的小游戏和flash中关于清明节，儿童节，劳动节，万圣节，还有圣诞节的游戏和flash都是站长本人小创意制作的，作为本星途旅程的最后一站，给大家带来神奇的体验~玩儿完以后，记得还没有结束，
        还有最后你意想不到的“上升星空”部分，别忘记点击“最后进入上升太空”部分，给你带来无限的上升空间，但是要记得如果最后一站你打开的是游戏，就必须玩儿完才能点击“最后进入上升空间”......然后，你就知道了，本次旅程是不可能结束的,la啦la~</p> <p><input type="button" onclick="cbus()" class="bsx" id="tyuk" name="buttojs" value="最后进入上升太空"/></p>

    <p><input type="button" onclick="prev(this)"  class="bsx" name="buttonpre" value="prev(上一站星之旅) "/></p>
    <p>


        <!DOCTYPE html>
        <head>
            <meta charset="UTF-8">


            <link href="http://serrinawss.java.jspee.cn:80/css/dsf2.css" rel="stylesheet" type="text/css"/>
            <title>Insert title here</title>
        </head>

    <body>
    <script type="text/javascript" src="http://serrinawss.java.jspee.cn:80/css/jquery-3.4.1.js"></script>
    <div class="dsd">
        <video  src="http://serrinawss.java.jspee.cn:80/video/quwei2.mp4" id="audt" width="600px" height="500px" controls="controls">
            <source src="http://serrinawss.java.jspee.cn:80/video/quwei2.mp4"/>

        </video> 
    </div>





    </script>
    </body>
    </html></p>

    </div>
    </div>



    </div>
    <script type="text/javascript" >
        $(document).ready(function(){


            wprt();


        });

    var t=0;
    var py;

    var h;
    var h2;
    var le;
    var pm;
    function wprt(){


        var hua="星林悠小时光——开启了你的星际神游的特殊旅程......";





        var i=0;

        setInterval(function(){

            if(i<hua.length){



                i++;

                $("#cttop").find("p").append(hua[i-1]);

            }

        },300);





    }







    $(document).ready(function(){
        $("#shxl1").css("display","block");
        $("#shxl0").css("display","none");
        $("#shxl1").append("<div id='shxlx1'></div>");

        var txt=$("#sh1txt").html().substring(0,518);


        $("#shxlx1").html(txt);
        $("#ct2").css("display","none");

        $("#xxwd").css("display","none");



    })
    $(".ybt").click(function(){

        $("#shxl0").css("display","block");
        for(var i=1;i<=7;i++){
            $("#shxl"+i).css("display","none");
            var music = document.getElementById("mg"+i);

            if(music!=null){ music.pause();}
            var music2=document.getElementById("audt");
            if(music2!=null){
                music2.pause();
            }



        }


    })
    $(".bsxu").click(function(){

        $("#shxl0").css("display","none");
        t=0;
        $("#shxl1").append("<div id='shxlx1'></div>");

        var txt=$("#sh1txt").html().substring(0,518);


        $("#shxlx1").html(txt);
        $("#shxl1").css("display","block");

        for(var i=2;i<=7;i++){

            $("#shxl"+i).css("display","none");
            var music = document.getElementById("mg"+i);

            if(music!=null){						    				  music.pause();}
            var music2=document.getElementById("audt");
            if(music2!=null){
                music2.pause();
            }

        }


    })



    $(".cot").click(function(){

        var n1=$("#sh1txt").html().length;

        var n=($("#sh1txt").html().length)%518;




        var m;



        m=n1/518;






        if(t<=(m-1)){

            $("#shxlx1").html("");



            var txt=$("#sh1txt").html().substring(518*(t+1),518*(t+2));
            $("#shxlx1").html(txt);
            $("#shxlx1").css("display","block");


            t++;
        }

    })

    $(".con").click(function(){

        var n1=$("#sh1txt").html().length;

        var n=($("#sh1txt").html().length)%518;




        var m;
        if(n!=0){


            m=n1/518;
            m=m;


        }



        if(t>0){

            $("#shxlx1").html("");

            var txt=$("#sh1txt").html().substring(518*(t-1),518*t);
            $("#shxlx1").html(txt);
            $("#shxlx1").css("display","block");


            t--;
        }

    })





    function nx(ob){



        var vao=$(ob).parent().parent().attr("id");


        var vas;

        for(var i=0;i<=6;i++){


            if (vao==("shxl"+i)) {
                $("#shxl"+i).css("display","none");
                vas=i+1;
                $("#shxl"+vas).css("display","block");
                $(".bxy0").css("display","block");
                if(vas==7){
                    var music2=document.getElementById("audt");
                    if(music2!=null){

                        music2.play();}


                }
                if((i!=1)&&(i!=6)&&(i!=0)){
                    var music = document.getElementById("mg"+i);

                    music.pause();}




            }



        }



    }

    function prev(ob){



        var vao=$(ob).parent().parent().attr("id");


        var vas;

        for(var i=1;i<=7;i++){


            if (vao==("shxl"+i)) {
                $("#shxl"+i).css("display","none");

                vas=i-1;




                if(vas==1){ t=0;$("#shxl1").append("<div id='shxlx1'></div>");

                    var txt=$("#sh1txt").html().substring(0,518);


                    $("#shxlx1").html(txt);
                    $("#shxl1").css("display","block"); }

                $("#shxl"+vas).css("display","block");
                var music = document.getElementById("mg"+i);

                if(music!=null){		  music.pause();}

                if(vao=="shxl7"){
                    var music2=document.getElementById("audt");

                    if(music2!=null){
                        music2.pause();


                    }
                }
                break;}








        } }





    var st56=true;
    function retin(){

        location.href = "index.do"




    }



    function cbus(){


        location.href = "sstk.do"



    }














    </script>
    </body>
    </html>